# Chặn file cấu hình cá nhân
.env

# Chặn chứng chỉ SSL của Leader
nginx/ssl/

# Chặn thư viện nặng
node_modules/
dist/
build/

# Chặn file rác hệ thống
.DS_Store

[Bb]in/
[Oo]bj/
.vs/
*.user
appsettings.Development.json

# bỏ qua các chứng chỉ của Blockchain
backend/BHXH_Backend/certs/*.pem
backend/BHXH_Backend/certs/*_sk
!backend/BHXH_Backend/certs/.gitkeep
backend/BHXH_Backend/uploads/
